.card-img-top {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  color: white;
  background-color: var(--bs-primary);
}

form .fa-star {
  cursor: pointer;
  font-size: 1.5rem;
}

.delete-review {
  text-align: center;
}
